body{
    margin: 0;
    font-family: 'Raleway', sans-serif;

}
.orange{
    color:orange;
}
h1{
    font-size: 50px;
    text-transform: capitalize;
}
.flexible-container{
    display:flex;
}
.half-width{
    width:40%;
    margin-left:5%;
    padding:2%;
}
.half-width img{
    width:90%;
}
.link-button{
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(to right, blue, cyan);
    color:white;
    padding:14px 25px;
    border-radius: 25px;
    font-weight:700;
    display: inline-block;
    margin-top: 15px;
}
